<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ORANGE HOME</title>
  </head>
  <body>
    <h1>WELCOME TO ORANGE HOME API SCREEN</h1>

    <h2>NORMAL DJANGO APIs</h2>
    <p>
      <a href="/server/normal_api/Munich/">
        HOTELS IN MUNICH
      </a>
    </p>
    <p>
      <a href="/server/photos/ChIJq8OfDfx1nkcRQNPwYqwXiqE/">
        PHOTOS OF HOTEL REGENT
      </a>
    </p>
    <p>
      <a href="/server/reviews/ChIJq8OfDfx1nkcRQNPwYqwXiqE/">
        REVIEWS OF HOTEL REGENT
      </a>
    </p>
    <p>
      <a href="/server/details/ChIJq8OfDfx1nkcRQNPwYqwXiqE/">
        ADDITIONAL DETAILS OF HOTEL REGENT
      </a>
    </p>

    <h2>DJANGO REST FRAMEWORK APIs</h2>

    <p>
      <a href="/server/drf_api/countries/">
        GET COUNTRIES LIST
      </a>
    </p>

    <p>
      <a href="/server/drf_api/cities/Germany/">
        GET CITIES LIST (GERMANY)
      </a>
    </p>

    <p>
      <a href="/server/drf_api/hotels/Munich/">
        GET HOTELS IN MUNICH
      </a>
    </p>
  </body>
</html>
